html {
    font-size: 62.5%;
    font-family: "Roboto", sans-serif, system-ui;
    line-height: 1.2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.8rem;
    font-weight: bold;
    background-color: rgb(52, 64, 71);
}
input {
    padding: 0.5rem;
}

input[type=checkbox] {
    height: 16px;
    width: 16px;
}

button {
    cursor: pointer;
}

input,
button {
    font-family: inherit;
    font-size: 100%;
}

label + input {
    margin-top: 3px;
}

input + label {
    margin-top: 6px;
}

.container {
    padding: 1em;
}

.book-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 225px));
    gap: 1em;
}

.book-container,
.book-container-add {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    padding: 1em;
    min-height: 250px;
    border: 3px solid rgb(16, 0, 87);
    border-radius: 6px;
    background: linear-gradient(0deg, rgba(1,22,106,1) 0%, rgba(5,23,125,1) 10%, rgba(0,13,84,1) 83%);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.2);
}

.book-container-add {
    justify-content: center;
    align-items: center;
}

.book-container > :first-child {
    font-size: 2.4rem;
    font-weight: bold;
}

.book-container button {
    background-color: transparent;
    outline: none;
    border: none;
}

.info-author {
    align-self: end;
    margin-bottom: auto;
}

.info-data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
}

.dialog {
    border-radius: 16px;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.book-form {
    padding: 1em;
}

.book-form input {
    display: block;
}

.book-form > div {
    margin-bottom: 0.5em;
}

.btn-row {
    display: flex;
    margin-top: 0.5em;
    gap: 1em;
}

.form-btn {
    padding: 6px;
    border-radius: 6px;
    font-weight: bold;
    font-size: 0.8em;
    flex: 1;
}

.form-submit {
    background-color: rgb(166, 255, 166);
}

.form-close {
    background-color: rgb(253, 188, 188);
}